.container{
  /* border:2px solid black; */
  width:50rem;
  height:30rem;
  margin-left:13rem;
  margin-top: 5rem;
}
.box{
  /* border: 2px solid green; */
  text-align: center;
}
.bttn{
  width:8rem;
  height:2rem;
  margin-left: 2rem;
  background-color: aqua;
  border:none;
  border-radius: 1rem;
}
.buton{
  width:8rem;
  height:2rem;
  background-color: deeppink;
  border-radius: 1rem;
  border:none;
}
span{
  font-size: 3rem;
}
.head{
   text-align: center;
}
.bord{
  border:1px solid black;
  height:8rem;
}
.box1{
  margin-top: 4rem;
}
.headd{
  color:red;
  text-align: center;
}